[Unit]
Description=Setup device files for v4l-gst

[Service]
Type=oneshot
ExecStart=/usr/libexec/v4l-gst/setup-v4l-gst.sh

[Install]
WantedBy=multi-user.target
